
@{
    ViewBag.Title = "Login";
}

<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/blue/css")
    @Styles.Render("~/Content/themes/icon/css")
    <link href="~/Content/Css/Login/login.css" rel="stylesheet" />
</head>
<body>

    <div id="login">
        <p>管理员帐号：<input type="text" id="manager" class="textbox"></p>
        <p>管理员密码：<input type="password" id="password" class="textbox"></p>
    </div>


    <div id="btn">
        <a href="#" class="easyui-linkbutton">登录</a>
    </div>

</body>
</html>
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/easyui-lang-zh_CN.js")" type="text/javascript"></script>
@Scripts.Render("~/bundles/login")

