
@{
    ViewBag.Title = "Index";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/blue/css")
    @Styles.Render("~/Content/themes/icon/css")
    <link href="~/Content/Css/Staff/staff.css" rel="stylesheet" />
</head>

<body>
    <table id="staff_table"></table>

    <div id="staff_tabTools" style="padding:5px">
        <div>
            <a href="javascript:void(0);" class="easyui-linkbutton" plain="true" iconCls="icon-add" onclick="staffButton.add()">添加</a>
            <a href="javascript:void(0);" class="easyui-linkbutton" plain="true" iconCls="icon-edit" onclick="staffButton.edit()">修改</a>
            <a href="javascript:void(0);" class="easyui-linkbutton" plain="true" iconCls="icon-remove" onclick="staffButton.remove()">删除</a>
            <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-tip" onclick="staffButton.export()">导出</a>
            <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-save" style="display:none;" id="staff_tabTools_save" onclick="staffButton.save()">保存</a>
            <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-redo" style="display:none;" id="staff_tabTools_redo" onclick="staffButton.redo()">取消编辑</a>
        </div>

        <div style="padding:0 0 0 7px;color:#333;">
            查询账号：<input type="text" name="name" class="textbox">
            创建时间从：<input type="text" name="date_from" class="easyui-datebox" editable="false">
            到创建时间：<input type="text" name="date_to" class="easyui-datebox" editable="false">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="staffButton.search()">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="staffButton.reload()">清空</a>
        </div>
    </div>
</body>

</html>
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/easyui-lang-zh_CN.js")" type="text/javascript"></script>
<script src="~/Scripts/Common/dateboxFormat.js"></script>
<script src="~/Scripts/Staff/staff.js"></script>





